@tailwind base;
@tailwind components;
@tailwind utilities;

.pg-viewer-wrapper {
  overflow-y: auto;
}

.pg-viewer-wrapper .document-container {
  width: auto;
}

.react-grid-HeaderCell-sortable {
  cursor: none !important;
  pointer-events: none !important;
}